* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Georgia, 'Times New Roman', Times, serif,;
    line-height: 1.8em;
}

header {
    background-color: #ccc;
    background-image: url(img/IMG_20211210_065706.jpg);
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    
}

h1 {
    /* font-size: 4rem; */
    /* font-size: 4vw; */
    font-size: 4vmax;
    line-height: 1.2em;
    color: white;
    text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.8);
    text-align: center;
    margin: auto;
}

section {
    margin: 30px auto;
    width: 80%;
}


