body{
    font: 18px/36px;
    background-color: #eee;
}

h1{
    margin: 50px 0;
    font-size: 80px;
    text-align: center;
}

.container{
    width: 600px;
    background-color: white;
    margin: auto;
    padding: 50px;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.5);
    border-radius: 10px;
}

.galery li{
    display: block;
    justify-content: center;
    align-items: center;
    width: 120px;
    height: 120px;
    border-radius: 50%;
    border:5px solid #666;
    float: left;
    margin: 10px;
    position: relative;
}

.galery li a img{
    border-radius: 50%;
    width: 120px;
    height: 120px;
}

.galery li span{
    display: block;
    border-radius: 50%;
    width: 120px;
    height: 120px;
    background-color:rgba(200, 200, 200, .5);
    position: absolute;
    top: 0;
    text-align: center;
    line-height: 120px;
    color: rgb(244, 8, 8);
    text-shadow: 1px 1px 1px #ddd;
    opacity: 0;
    transition: 1s;
    transform: scale(0) rotate(0);
}

.galery li a:hover span{
    opacity: 1;
    transform: scale(1) rotate(360deg);
}
.clear{
    clear: both;
}


/* overlay */
.overlay{
    width: 0;
    height: 0;
    overflow: hidden;
    position: fixed;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0,0);
    z-index: 99999999;
    transition: 1s;
    text-align: center;
}

.overlay:target{
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0,.8);
    width: auto;
    height: auto;
}

.overlay  .close{
    position: absolute;
    top: 30px;
    left: 50%;
    color: white;
    text-decoration: none;
    margin-left: -20px;
    background-color: black;
    border: 1px solid white;
}

.overlay img{
    max-height:100% ;
    margin: 50px;
}

.overlay:target img{
    animation: zoomdanfade 1s;
}



/* animasi */
@keyframes zoomdanfade{
    0%{
        transform: scale(0);
        opacity: 0;
    }
    100%{
        transform: scale(1);
        opacity: 1;
    }
}

