.container {
    width: 600px;
    border: 5px solid #333;
    margin: 30px auto;
    padding: 5px;
    box-sizing: border-box;
    display: flex;
    /* flex-direction: row; mengatur arah elemen flex secara horizontal*/
    flex-wrap: wrap;/*membuat baris baru ketika elemen melebihi lebar container*/
    justify-content: space-evenly; /*mengatur posisi elemen flex secara horizontal agar jaraknya sama kiri kanan*/
    align-content: center;
}

.container div {
    width: 120px;
    height: 120px;
    background-color: rgb(33, 118, 253);
    margin: 2px;
}








