* {
    margin: 0;
    padding: 0;
}

body{
    background-color: #eaeaea;
    font : 16px/28px Arial, sans-serif;
    color: #333;
}

.container{
    width: 800px;
    margin: auto;
    background-color: #fff;
}

.header{
    padding: 20px;
}

.header .judul{
    font-size: 50px;
    font-weight: bold;
}

.header ul li{
    display: inline-block;
    margin-top: 20px; 
}

.header a{
    text-decoration: none;
    color: brown;
    margin-right: 15px;
    padding: 3px;
}

.header a:hover{
    background-color: skyblue;
    color: #faf8f8;
    border-radius: 3px;
}

.hero{
    height: 280px;
    background-image: url(image/rinjani.jpg);
    background-size: cover;
    background-position: 0 0;
    border-top: 5px solid brown;
}


.content{
    margin: 20px;
}

.content h2 {
    font-size: 30px;
    font-weight: bold;
}

.content .penulis{
    font-size: 10px;
    margin-top: -5px;
}

.content  a {
    color: green;
    text-decoration: none;

}

.content p{
    margin-bottom: 8px;
    font-size: 12px;
}

.footer{
    background-color:#343232;
    color: #eaeaea;
    padding: 12px;
}

.footer .copy{
    text-align: center;
    font-size: 12px;
}









