.container{
    width: 600px;
    border: 2px solid brown;
    margin: auto;
    padding: 5px;
    background-color: #eaeaea;
}

.kotak{
    width: 100px;
    height: 100px;
    background-color: aqua;
    color: blueviolet;
    text-align: center;
    font-size: 20px;
    line-height: 100px;
    margin: 1px;
    float: left;
    

}

.clear{
    clear: left;
}