* {
    margin: 0;
    padding: 0;
}

body{
    background-color: #eaeaea;
    font : 16px/28px Arial, sans-serif;
    color: #333;
}

.container{
    width: 960px;
    margin: auto;
    background-color: #fff;
}

.header{
    padding: 20px;
}

.header .judul{
    font-size: 50px;
    font-weight: bold;
}

.header ul li{
    display: inline-block;
    margin-top: 20px; 
}

.header a{
    text-decoration: none;
    color: brown;
    margin-right: 15px;
    padding: 3px;
}

.header a:hover{
    background-color: skyblue;
    color: #faf8f8;
    border-radius: 3px;
}

.hero{
    height: 320px;
    background-image: url(image/rinjani.jpg);
    background-size: cover;
    background-position: 0 0;
    border-top: 5px solid brown;
}


.main{
    width: 600px;
    margin: 20px;
    box-sizing: border-box;
    float: left;
}

.main h2 {
    font-size: 30px;
    font-weight: bold;
}

.main .penulis{
    font-size: 10px;
    margin-top: -5px;
}

.main  a {
    color: green;
    text-decoration: none;

}

.main p{
    margin-bottom: 8px;
    font-size: 12px;
}

.saidbar{
    width: 300px;
    padding: 10px;
    float: right;
    padding-right: 10px;
}

.saidbar img{
    width: 20%;
    height: 20%;
    float: left;
}

.saidbar p{
    font: 12px/18px arial;
}

.saidbar h3 {
    font-weight: bolder;
    color: #666;
}

.footer{
    background-color:#343232;
    color: #eaeaea;
    padding: 12px;
}

.footer .copy{
    text-align: center;
    font-size: 12px;
}



/**
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    contenteditable attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that are clearfixed.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */
.cf:before,
.cf:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.cf:after {
    clear: both;
}
/**
  * For IE 6/7 only
  * Include this rule to trigger hasLayout and contain floats.
  */
.cf {
    zoom: 1;  
}





