div{
    width: 100px;
    height: 100px;
    margin: auto;
}
.container{
    width: 600px;
    height: 500px;
    border: 2px  solid red;
    position: relative;
}
.satu{
    background-color: rgb(10, 235, 36);
}
.dua{
    background-color: aqua;
    position: absolute;
    left: 0;
    top: 0;
    
    
}
.tiga{
    background-color: blue
}
