body{
    height: 2000px;
}
div{
    width: 200px;
    height: 200px;
    margin: auto;
}

.satu{
    background-color: red;
}

.dua{
    background-color: blue;
    position: fixed;
    left: 0;
    top: 0;
    
}

.tiga{
    background-color: green;
}

.container{
    width: 600px;
    height: 650px;
    position: relative;
    border: 10px solid rgb(239, 228, 6);

}