* {
    padding: 0;
    margin: 0;
}

img {
    width: 100%;
}

body {
    background-color: #ddd;
    font-size: 18px;
    font-family: "Montserrat",Arial, Helvetica, sans-serif;
    margin: 50px;
}

.container {
    display: grid;
}

/* header */
.header {
    display: grid;
    grid-template-areas: 
        "hero hero fitur-1"
        "hero hero fitur-2";
    gap: 5px;
}

.hero {
    grid-area: hero;
    min-height: 300px;
    background-image: url(img/3.jpg);
    background-size: cover;
    background-position: center;
    padding: 50px;
}

/* .hero h2, .hero p {  lebih simpel yang bawah*/
.hero > *{
    color: white;
    display: none;
}

.features {
    background-color: tomato;
    color: rgb(255, 255, 255);
    display: grid;
    /* justify-content: center;
    align-content: center; */
    place-content: center;
    text-align: center;
    cursor: pointer;
}

.fitur-1 {
    grid-area: fitur-1;
    background-image: url(img/dont.jpg);
    background-size: cover;
}

.fitur-2 {
    grid-area: fitur-2;
    background-image: url(img/4.jpg);
    background-size: cover;
}

.features .price {
    font-size: 3em;
    font-weight: 200;
}

/* navigasi */
.menu {
    order: -1; /* untuk mengubah urutan */
    display: grid ;
    grid-template-columns: 1fr 2fr;
    align-items: center;
    
}

.menu .brand {
    font-size: 1.3em;
    color: #333;
    
}

.menu ul {
    list-style:none ;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    gap: 5px;
    
}

.menu a {
    display: block;
    background-color: #333;
    color: white;
    text-align: center;
    padding: 5px;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 0.9em;
}

/* humberger menu */
.menu-toggle {
    display: none;
    flex-direction: column;
    height: 15px;
    justify-content: space-between;
    position: relative;
    z-index: 3;
}

.menu-toggle input{
    position: absolute;
    width: 40px;
    height: 28px;
    top: -3px;
    left: -5px;
    opacity: 0;
    cursor: pointer;
    z-index: 2;
}

.menu-toggle span{
    display: block;
    width: 20px;
    height: 3px;
    background-color:#333;
    border-radius:3px ;
    transition: all 0.5s ;
}


/* humberger menu animasi */
.menu-toggle span:nth-child(2){
    transform-origin: 0 0;
}

.menu-toggle span:nth-child(4){
    transform-origin: 0 100%;
}
.menu-toggle input:checked ~ span:nth-child(2){
    background-color: #fff;
    transform: rotate(45deg) translate(-1px, -1px);
}

.menu-toggle input:checked ~ span:nth-child(4){
    background-color: #fff;
    transform: rotate(-45deg) translate(-1px, 0);
}

.menu-toggle input:checked ~ span:nth-child(3){
    opacity: 0;
    transform: scale(0);
}

/* service */
.services {
    margin-top: 10px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 15px;
}

.service {
    background-color: white;
    padding: 15px;
    text-align: center;
    border:1px solid #333 ;
    border-radius: 5px;
    box-shadow: 1px 1px 5px rgba(0,0,0,0.5);
}

.service .icon {
    font-size: 3em;
    color: tomato;
    margin-bottom: 10px;
}

.service h3 {
    font-size: 1.5em;
    margin-bottom: 10px;
}

.service p {
    color: #555;
    font-weight: 200;
    letter-spacing: 1px;
    font-size: 0.8em;
}   

/* galery */
.galery {
    margin-top: 50px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 10px;
}

.galery h2 {
    grid-column: 1/ -1 ;
    text-align: center;
    margin-bottom: 20px;
}


/* responsiv breakpoin */
@media (max-width: 1024px) { 
    .menu {
        order: inherit;
        grid-template-columns: 1fr;
    }

    .menu .brand{
        display: none;
    }

    .hero > * {
        display: block;
        /* background-color: #333; */
        padding: 5px;
        color: white;
        margin-bottom: 5px
    }

    .hero {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: start;
    }
}

@media (max-width : 576px) {
    .menu {
        order: -1;
        justify-items:end ;
    }
    .menu-toggle {
        display: flex;
    }

    .menu ul {
        display: flex;
        position: absolute;
        right: 0;
        top: 0;
        width: 20%;
        height: 100vh;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        background-color: #333;
        opacity: 1;
        z-index: 1;
        transform: translateY(-100%);
        transition: all 1s;
    }

    .menu ul.slide {
        transform: translateY(0);
    }
}

@media (max-width: 600px) {

    body {
        margin: 10px;
    }
    .header {
        grid-template-areas:
            "hero"
            "fitur-1"
            "fitur-2";
    }
}
